# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environments
.env
.venv/
env/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
mediafiles/
staticfiles/

# VSCode
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations (optional — keep if you want clean repo history)
**/migrations/*.py
!**/migrations/__init__.py

# Allow example env file
!.env.example
