# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
mediafiles/
staticfiles/

# Environments
.env
.env.*
/env
/venv
# Ignore qodo
.qodo/

# Node
node_modules/
.next/
out/

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/
.idea/

# Don't ignore example envs
!.env.example